<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PerIpsumOriginal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PerIpsumOriginal.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="layout">
        <nav id="sidebar" class="close">
            <ul>
                <li>
                    <button id="toggle-btn" onclick="toggleSidebar()" >
                        <img src="~/img/logoSVG.svg" style="flex-shrink: 0;width: 75px; height: 75px;" />
                    </button>
                    <span class="logo">PER IPSUM</span>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Usuario")">
                        <img src="~/img/iconeHome.svg" style="flex-shrink: 0;" class="icon" />
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Feed", "Usuario")" data-page="Feed" data-icon-active="iconeFeedAtivado.svg">
                        <img src="~/img/iconeFeed.svg" style="flex-shrink: 0;" class="icon" />
                        <span>Feed</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Anotacoes", "Usuario")" data-page="Anotacoes" data-icon-active="iconeAnotacoesAtivado.svg">
                        <img src="~/img/iconeAnotacoes.svg" style="flex-shrink: 0;" class="icon" />
                        <span>Anotações</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Calendario", "Usuario")" data-page="Calendario" data-icon-active="iconeCalendarioAtivado.svg">
                        <img src="~/img/iconeCalendario.svg" style="flex-shrink: 0;" class="icon" />
                        <span>Calendário</span>
                    </a>
                </li>
                @if (User.IsInRole("Admin") || User.IsInRole("Parcerias"))
                {
                    <li>
                        <a href="@Url.Action("Rascunhos", "Admin")" data-page="Rascunhos" data-icon-active="iconeRascunhosAtivado.svg">
                            <img src="~/img/iconeRascunhos.svg" style="flex-shrink: 0;" class="icon" />
                            <span>Rascunhos</span>
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("Favoritos", "Usuario")" data-page="Favoritos" data-icon-active="iconeFavoritosAtivado.svg">
                        <img src="~/img/iconeFavoritos.svg" style="flex-shrink: 0;" class="icon" />
                        <span>Favoritos</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/js/layoutSecundario.js" asp-append-version="true"></script>
    <script src="~/js/feed.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/anotacoes.js" asp-append-version="true"></script>
    <script src="~/js/rascunhos.js" asp-append-version="true"></script>
    <script src="~/js/calendario.js" asp-append-version="true"></script>
    <script src="~/js/favoritos.js" asp-append-version="true"></script>
    <script src="~/js/feedbacks.js" asp-append-version="true"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
