@using Microsoft.AspNetCore.Identity
@using PerIpsumOriginal.Models

@inject SignInManager<UsuarioModel> SignInManager
@inject UserManager<UsuarioModel> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @if (User.IsInRole("Admin"))
                {
                    <div class="btn-container">
                        <a id="btnAnotacoes" role="button" href="@Url.Action("Anotacoes", "Usuario")"><img src="~/img/usuarioAnotaBtn.svg" style="width: 100%;" /></a>
                        <a id="btnFavoritos" role="button" href="@Url.Action("Favoritos", "Usuario")"><img src="~/img/favoritosPageIcon.svg" style="width: 100%;" /></a>
                        <div id="admDropdown" class="dropdown">
                            <button id="admButton" class="dropdown-toggle no-arrow" data-bs-toggle="dropdown" aria-expanded="false"><img src="~/img/admDropdown.svg" style="width: 100%;" /></button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Solicitacoes", "Admin")">Solicitações</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Feedbacks", "Admin")">Feedbacks</a></li>
                            </ul>
                        </div>
                        <a role="button" asp-area="Identity" asp-page="/Account/Manage/Index"><img src="~/img/adminIcon.svg" width="100%"/></a>
                    </div>
                }
                @if (User.IsInRole("Parcerias"))
                {
                    <div class="btn-container">
                        <a id="btnAnotacoes" role="button" href="@Url.Action("Anotacoes", "Usuario")"><img src="~/img/usuarioAnotaBtn.svg" style="width: 100%;" /></a>
                        <a id="btnFavoritos" role="button" href="@Url.Action("Favoritos", "Usuario")"><img src="~/img/favoritosPageIcon.svg" style="width: 100%;" /></a>
                        <a role="button" asp-area="Identity" asp-page="/Account/Manage/Index"><img src="~/img/parceriaIcon.svg" width="100%" /></a>
                    </div>
                }
                @if (User.IsInRole("Usuario"))
                {
                    <div class="btn-container">
                        <a id="btnAnotacoes" role="button" href="@Url.Action("Anotacoes", "Usuario")"><img src="~/img/usuarioAnotaBtn.svg" style="width: 100%;" /></a>
                        <a id="btnFavoritos" role="button" href="@Url.Action("Favoritos", "Usuario")"><img src="~/img/favoritosPageIcon.svg" style="width: 100%;" /></a>
                        <a role="button" asp-area="Identity" asp-page="/Account/Manage/Index"><img src="~/img/usuarioIcon.svg" width="100%" /></a>
                    </div>
                }

        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
    </li>
    
}
</ul>

<style>
    #register {
        padding-right: 3em;
    }

    #btnAnotacoes, #btnFavoritos {
        display: flex;
        flex-direction: row;
    }

    #admDropdown {
        display: flex;
        flex-direction: row;
    }

    #admButton {
        border: none;
        background-color: transparent;
        margin-bottom: 0.5em;
    }

    .dropdown-toggle.no-arrow::after {
        display: none;
    }

    .dropdown-menu {
        background-color: #FFFFF3;
        border: none;
        border-radius: 20px;
        width: max-content;
        padding: 20px;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
        font-family: Krub;
    }

        .dropdown-menu a:hover {
            border-radius: 15px;
            font-weight: 600;
        }

    .btn-container {
        display: inline-flex;
        padding: 0;
        padding-right: 8em;
    }


    
</style>
