@model PerIpsumOriginal.ViewModels.RascunhoViewModel
@using PerIpsumOriginal.Enums
@using PerIpsumOriginal.Helpers
@{
    ViewData["Title"] = "Rascunhos";
    Layout = "_LayoutSecundario";

}
<body>
    <div class="rascunho-layout">
        <nav>
            <div class="search-container">
                <div class="input-group">
                    <input type="text" id="searchInputFeed" class="form-control custom-input" placeholder="Procurar oportunidades..." />
                </div>
                <div class="filter-container">
                    <button id="filtroBtn" class="dropdown-toggle no-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/img/filtroBtn.svg" />
                    </button>
                    <ul class="dropdown-menu">
                        <div class="filter-section">
                            <h6>Filtros</h6>
                        </div>
                        <div class="filter-section">
                            <h6>Tipos</h6>
                            <div class="filter-options tipos">
                                @foreach (TipoEnum tipo in Enum.GetValues(typeof(TipoEnum)))
                                {
                                    if (tipo != TipoEnum.Tipo)
                                    {
                                        <div>
                                            <input type="checkbox" value="@tipo" @(Model.TiposSelecionados.Contains(tipo) ? "checked" : "")>
                                            @ConteudosHelper.GetTextForTipo(tipo)
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="filter-section">
                            <h6>Países</h6>
                            <div class="filter-options paises">
                                @foreach (PaisEnum pais in Enum.GetValues(typeof(PaisEnum)))
                                {
                                    if (pais != PaisEnum.Pais)
                                    {
                                        <div class="pais-checkbox">
                                            <input type="checkbox" value="@pais" @(Model.PaisesSelecionados.Contains(pais) ? "checked" : "")>
                                            @ConteudosHelper.GetCountryDisplayName(pais)
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="btn-container">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#adicionarRascunhoModal"><img src="~/img/addBtn.svg" style="width: 80%;" /></button>
                    <div id="admDropdown" class="dropdown">
                        <button id="admButton" class="dropdown-toggle no-arrow" data-bs-toggle="dropdown" aria-expanded="false"><img src="~/img/admDropdown.svg" style="width: 80%; margin-top: 0.4em;" /></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Solicitacoes", "Admin")">Solicitações</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Feedbacks", "Admin")">Feedbacks</a></li>
                        </ul>
                    </div>
                    <a role="button" id="user" asp-area="Identity" asp-page="/Account/Manage/Index"><img src="~/img/adminIcon.svg" width="80%" /></a>
                </div>
            }
            @if (User.IsInRole("Parcerias"))
            {
                <div class="btn-container">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#adicionarRascunhoModal"><img src="~/img/addBtn.svg" style="width: 80%;" /></button>
                    <a role="button" id="user" asp-area="Identity" asp-page="/Account/Manage/Index"><img src="~/img/parceriaIcon.svg" width="80%" /></a>
                </div>
            }


        </nav>
        <main>
            <div class="rascunho-container">
                @foreach (var conteudo in Model.Rascunhos)
                {
                    <div class="card" data-id="@conteudo.Id">
                        <div class="imagem-container">
                            <img id="imagemCard" src="@($"/storage/{conteudo.Imagem}")" alt="Imagem do conteúdo." />
                        </div>
                        <div class="info-container">
                            <div class="tipoDesign" style="background-color:@ConteudosHelper.GetColorForTipo(conteudo.Tipo);">
                                <p id="tipo">@ConteudosHelper.GetTextForTipo(conteudo.Tipo)</p>
                            </div>
                            <div class="paisDesign">
                                <p id="pais">@ConteudosHelper.GetCountryDisplayName(conteudo.Pais)</p>
                                <img src="@ConteudosHelper.GetFlagForCountry(conteudo.Pais)" alt="@ConteudosHelper.GetCountryDisplayName(conteudo.Pais)" />
                            </div>
                            <div class="dataDesign">
                                <p id="data">@conteudo.Data.ToString("dd/MM/yyyy")</p>
                                <img src="~/img/calendar.svg" alt="Calendário" />
                            </div>
                        </div>
                        <div class="titulo-container">
                            <h1 id="titulo">@conteudo.Nome</h1>
                        </div>
                        <div class="descricao-container">
                            <p id="descricao">@conteudo.Descricao</p>
                        </div>
                        <div class="categorias-container">
                            <p id="categorias">@conteudo.Categorias</p>
                        </div>
                        <div class="link-container">
                            <p id="link">@conteudo.Link</p>
                        </div>
                    </div>


                    <!-- MODAL DE VISUALIZAÇÃO -->

                    <div class="modal fade" id="rascunhoModal-@conteudo.Id" tabindex="-1" aria-labelledby="rascunhoModalLabel-@conteudo.Id" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="esquerda">
                                    <img id="imgModal" src="" alt="Imagem do conteúdo." />
                                </div>
                                <div class="direita">
                                    <div class="btn-modal-container">
                                        <button class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="headerModal">
                                        <div class="modal-tipo-design">
                                            <p id="tipoModal"></p>
                                        </div>
                                        <div class="modal-pais-design">
                                            <img id="bandeiraModal" src="" alt="Bandeira do país" />
                                            <p id="paisModal"></p>
                                        </div>
                                        <div class="modal-data-design">
                                            <p id="dataModal"></p>
                                            <img src="~/img/calendar.svg" alt="Calendário" />
                                        </div>
                                    </div>
                                    <div class="mainModal">
                                        <h3 id="nomeModal"></h3>
                                        <p id="descricaoModal"></p>
                                        <p id="categoriasModal"></p>
                                        <div class="modal-link-design">
                                            <a id="linkModal" href="#" target="_blank">Acessar</a>
                                        </div>
                                    </div>
                                    <div class="footerModal">
                                        <a href="@Url.Action("EditarRascunhos", "Admin", new { id = conteudo.Id })" class="btn btn-editar">
                                            <img src="~/img/EditButton.svg" alt="Editar" />
                                        </a>
                                        <a href="@Url.Action("DeletarRascunhos", "Admin", new { id = conteudo.Id })" class="btn btn-deletar">
                                            <img src="~/img/DelButton.svg" alt="Deletar" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>
    </div>
</body>

<!-- ADICIONAR MODAL -->
        <div class="modal fade" id="adicionarRascunhoModal" tabindex="-1" aria-labelledby="adicionarRascunhoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <form asp-controller="Admin" asp-action="AdicionarRascunho" method="post" enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="esquerda-modal">
                            <label for="imagem" class="drag-drop-area">
                               Carregar imagem...
                               <img src="~/img/uploadIcon.svg" />
                               <input type="file" asp-for="Rascunho.Imagem" id="imagem" name="imagem" class="drag-drop-input" />
                            </label>
                        </div>

                        <div class="direita-modal">
                            <div class="btn-modal-container-add">
                                <button class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <div class="header-modal-rascunhos">
                                    <div class="modal-tipo-design-add">
                                        <select asp-for="Rascunho.Tipo" id="tipoInput">
                                            <option value="@TipoEnum.Tipo">Tipo</option>
                                            <option value="@TipoEnum.Bolsas">Bolsas</option>
                                            <option value="@TipoEnum.Intercambios">Intercâmbios</option>
                                            <option value="@TipoEnum.Programas">Programas</option>
                                            <option value="@TipoEnum.Estagios">Estágios</option>
                                            <option value="@TipoEnum.Cursos">Cursos</option>
                                            <option value="@TipoEnum.Eventos">Eventos</option>
                                        </select>
                                    </div>
                                    <div class="modal-pais-design-add">
                                        <select asp-for="Rascunho.Pais" id="paisInput">
                                            <option value="@PaisEnum.Pais">País</option>
                                            <option value="@PaisEnum.EstadosUnidos">EUA</option>
                                            <option value="@PaisEnum.China">CHI</option>
                                            <option value="@PaisEnum.Alemanha">ALE</option>
                                            <option value="@PaisEnum.Japao">JAP</option>
                                            <option value="@PaisEnum.India">IND</option>
                                            <option value="@PaisEnum.ReinoUnido">ING</option>
                                            <option value="@PaisEnum.Franca">FRA</option>
                                            <option value="@PaisEnum.Italia">ITA</option>
                                            <option value="@PaisEnum.Brasil">BRA</option>
                                            <option value="@PaisEnum.Canada">CAN</option>
                                            <option value="@PaisEnum.Russia">RUS</option>
                                            <option value="@PaisEnum.Mexico">MEX</option>
                                            <option value="@PaisEnum.CoreiaDoSul">COS</option>
                                            <option value="@PaisEnum.Australia">AUS</option>
                                            <option value="@PaisEnum.Espanha">ESP</option>
                                            <option value="@PaisEnum.Indonesia">INDO</option>
                                            <option value="@PaisEnum.Turquia">TUR</option>
                                            <option value="@PaisEnum.Holanda">HOL</option>
                                            <option value="@PaisEnum.ArabiaSaudita">ARAB</option>
                                            <option value="@PaisEnum.Suica">SUI</option>
                                            <option value="@PaisEnum.Portugal">POR</option>
                                            <option value="@PaisEnum.Irlanda">IRL</option>
                                            <option value="@PaisEnum.IrlandaDoNorte">IRLN</option>
                                            <option value="@PaisEnum.Chile">CHIL</option>
                                            <option value="@PaisEnum.Argentina">ARG</option>
                                        </select>
                                    </div>
                                    <div class="modal-data-design-add">
                                        <input type="date" asp-for="Rascunho.Data" id="dataInput" />
                                    </div>
                                </div>
                                <div class="mainModal-add">
                                    <div class="nomeModal-add">
                                        <input type="text" asp-for="Rascunho.Nome" placeholder="Título" id="inputNome" />
                                    </div>
                                    <div class="descricaoModal-add">
                                        <input type="text" asp-for="Rascunho.Descricao" placeholder="Descrição" id="inputDescricao" />
                                    </div>
                                    <div class="categoriaModal-add">
                                        <label asp-for="Rascunho.Categorias">Escreva até no máximo 7 categorias seguindo este padrão:</label>
                                        <input type="text" disabled placeholder="categoria1 categoria2 categoria3 categoria4 categ..."/>
                                        <input type="text" asp-for="Rascunho.Categorias" id="categorias" placeholder="Categorias" />
                                    </div>
                                </div>
                                <div class="modal-link-design-add">
                                    <input type="text" asp-for="Rascunho.Link" placeholder="Link" id="linkInput"/>
                                </div>
                                <div class="footerModal-add">
                                    <input type="hidden" name="acao" id="acao" />
                                    <div class="btn-rascunho-design-add">
                                        <button type="submit" class="btn" onclick="document.getElementById('acao').value='SalvarRascunho'">Salvar Rascunho</button>
                                    </div>
                                    <div class="btn-aprovar-design-add">
                                        <button type="submit" class="btn" onclick="document.getElementById('acao').value='SalvarAprovar'">Salvar e Aprovar</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

